/* src/components/user-profile.css */
h1, h2, h3, h4, h5, p {
    color: #00ffff;
}

.profile-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.profile-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-closed {
    transform: translateX(-80px);
}

.section-avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background: repeating-linear-gradient(-45deg, rgba(5, 175, 242, 0.1), rgba(5, 175, 242, 0.1) 3px, rgba(5, 199, 242, 0.02) 3px, rgba(5, 199, 242, 0.02) 10px), linear-gradient(135deg, transparent, rgba(5, 199, 242, 0.2));
    border-right: 2px solid rgba(0, 255, 255, 0.3);
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.avatar-content .title {
    margin-bottom: 30px;
    text-align: center;
}

.avatar-content .title h2 {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.section-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00ffff;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    margin-bottom: 30px;
}



.section-info {
    padding: 20px;
}

.section-info h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

.fullname {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.lastname,
.firstname {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    text-transform: uppercase;
    color: #00ffff;
}

label {
    text-transform: capitalize;
    padding: 10px 0;
    display: block;
    color: #00ffff;
}

.active-key,
.username-password,
.email-phone {
    margin-bottom: 20px;
    width: 100%;
}

.input-container,
.password-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.username-password,
.email-phone {
    display: flex;
    gap: 20px;
}

.username-password .input-field,
.email-phone .input-field {
    flex: 1;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #00ffff;
    background-color: transparent;
    color: #00ffff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    font-size: 1.5rem;
    box-sizing: border-box;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);
}

input:focus {
    border: 1px solid #00ffff;
    outline: none;
}


.password-container button,
.active-key button {
    margin-left: 10px;
    border: 1px solid rgba(0, 255, 255, 0.8) !important;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);
    background-color: transparent;
    color: #00ffff;
    padding: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.password-container button:hover,
.active-key button:hover {
    background-color: rgba(0, 255, 255, 0.3);
    scale: 1.1;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

.cyber-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #00ffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: auto;
  }
  
  .cyber-button:hover {
    background: #00ffff;
    color: #000;
    box-shadow: 0 0 5px #00ffff,
                0 0 25px #00ffff,
                0 0 50px #00ffff,
                0 0 100px #00ffff;
  }
  
  .cyber-button span {
    position: absolute;
    display: block;
  }
  
  .cyber-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00ffff);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .cyber-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #00ffff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .cyber-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #00ffff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .cyber-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #00ffff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }